Flask==2.0.3
Flask-Babel==2.0.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==4.0.1
Flask-SQLAlchemy==2.5.1
Flask-WhooshAlchemy==0.56
Flask-WTF==1.0.1
SQLAlchemy==1.4.46
WTForms==3.0.0
pytest==7.2.1
requests==2.28.2
bootstrap-flask==2.2.0